<!DOCTYPE html>
<html>
<head>
  <title>Confirmación email</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700' rel='stylesheet' type='text/css'>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="../../assets/js/html5shiv.js"></script>
      <script src="../../assets/js/respond.min.js"></script>
      <![endif]-->
    </head>
    <body>    
      <form method = "post" action = "/rest-auth/registration/verify-email/">
        <input style ="display:none;" value = "{{key}}" name = "key">
        <input type = "submit" value = "Activar cuenta">
      </form>
  </body>
  </html>
